language: node_js

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/d21fae5b7ff17bd4c444
    on_success: change  
    on_failure: always  
    on_start: never     

node_js:
  - "7.5"

before_install:
  - yarn global add greenkeeper-lockfile@1

before_script: greenkeeper-lockfile-update

script:
  - npm run lint

after_script: greenkeeper-lockfile-upload
